---
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'

import MainLayout from '@/layouts/MainLayout.astro'
import Comment from '@/components/Comment.astro'
import { analyzeReading } from '@/utils/readingStat'
import { genDescription } from '@/utils/genDescription'

export async function getStaticPaths() {
    const posts = await getCollection('archives')
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }))
}

const { post } = Astro.props
const { Content } = await post.render()

// 处理导航
const ordered = (await getCollection('archives')).sort(
    (a, b) => a.data.published.valueOf() - b.data.published.valueOf()
)
const index = ordered.findIndex((p) => p.slug == post.slug)
const prev = index > 0 ? ordered[index - 1] : null
const next = index >= 0 && index < ordered.length - 1 ? ordered[index + 1] : null

// 处理页头数据
const { title, published, tags, image } = post.data
const description = post.data.description?.trim() || genDescription(post.body)
const stats = analyzeReading(post.body)
const url = Astro.site ? new URL(Astro.url.pathname, Astro.site).href : Astro.url.href

const formatDate = (date: Date) => {
    const value = new Date(date)
    const year = value.getFullYear()
    const month = String(value.getMonth() + 1).padStart(2, '0')
    const day = String(value.getDate()).padStart(2, '0')
    return year + '-' + month + '-' + day
}
---

<MainLayout title={title + ' - 云萧的咕咕屋'} description={description}>
    <div class="r-content">
        <!-- 内容页头 -->
        <div class="r-header">
            <!-- 封面 -->
            {image && <img class="r-cover" src={image} alt={title} />}

            <!-- 页头内容 -->
            <div class="r-header-wrapper">
                <div class="r-title">{title}</div>
                <div class="r-info">
                    <span>
                        <Icon name="mdi:calendar-blank-outline" width={20} height={20} />
                        {formatDate(published)}
                    </span>
                    <span>
                        <Icon name="mdi:clock-time-four-outline" width={20} height={20} />
                        {stats.minutes} 分钟
                    </span>
                    <span>
                        <Icon name="mdi:pencil-outline" width={20} height={20} />
                        {stats.estimatedChars} 字
                    </span>
                </div>
                {
                    tags && tags.length > 0 && (
                        <div class="r-tags">
                            {tags.map((tag) => (
                                <span class="r-tag">#{tag}</span>
                            ))}
                        </div>
                    )
                }
            </div>
        </div>

        <!-- 内容正文 -->
        <div class="r-prose">
            <Content />

            <!-- 协议声明 -->
            <div class="r-license">
                <p class="r-title"><b>{title}</b></p>
                <p class="r-url">
                    <a href={url}>{url}</a>
                </p>
                <p>
                    除特殊声明转载之外，本文由博主云萧原创且非 AI 生成内容，依据
                    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                        CC BY-NC-SA 4.0
                    </a>
                    许可协议授权，若需转载请注明出处及本声明。
                </p>
            </div>
        </div>

        
    </div>

    <div class="r-nav">
        {
            prev && (
                <a class="r-nav-item prev" href={`/archives/${prev.slug}.html`}>
                    <Icon name="mdi:arrow-left" width={28} height={28} class="r-icon" />
                    <div>
                        <div class="label">上一篇</div>
                        <div class="text">{prev.data.title}</div>
                    </div>
                </a>
            )
        }
        {
            next && (
                <a class="r-nav-item next" href={`/archives/${next.slug}.html`}>
                    <div>
                        <div class="label">下一篇</div>
                        <div class="text">{next.data.title}</div>
                    </div>
                    <Icon name="mdi:arrow-right" width={28} height={28} class="r-icon" />
                </a>
            )
        }
    </div>

    <Comment />
</MainLayout>

<style lang="less">
    @import url('@/styles/variables.less');

    .r-tags {
        display: flex;
        gap: 6px;
        flex-wrap: wrap;
        margin-top: 12px;

        .r-tag {
            background-color: @color-theme-light;
            color: @color-theme-dark;
            padding: 3px 9px;
            border-radius: 4px;
            font-size: 14px;
        }
    }

    .r-nav {
        margin-top: @layout-content-spacing;
        display: flex;
        gap: 12px;

        .r-nav-item {
            display: flex;
            flex: 1;
            gap: 6px;
            line-height: 2;
            padding: 16px;
            border-radius: @layout-content-border-radius;
            background: #fff;
            transition: all @anim-duration ease;
            min-width: 0;

            .label {
                font-size: 14px;
            }
            .text {
                font-weight: 600;
            }
        }
        .r-nav-item.next {
            text-align: right;
            justify-content: flex-end;
        }
        .r-nav-item:hover {
            background-color: lighten(@color-theme-light, 5%);
            color: @color-theme-dark;
        }

        .r-icon {
            color: @color-theme-dark;
        }
    }

    .r-license {
        padding: 18px 24px;
        border-radius: @layout-border-radius;
        background-color: lighten(@color-bg, 2.5%);
        font-size: 16px;
        // background-color: #f6f6f6;
        p {
            margin: 0;
            line-height: 1.6;
        }
        .r-url {
            font-size: 15px;
            margin-bottom: 12px;
        }
    }
</style>
