---
import { Icon } from 'astro-icon/components'
import { siteConfig } from '@/config'

const { title, description, pubDate, url, image, category, tags = [], readingTime, readingChars, ...rest } = Astro.props

const formatDate = (date: Date) => {
    const value = new Date(date)
    const year = value.getFullYear()
    const month = String(value.getMonth() + 1).padStart(2, '0')
    const day = String(value.getDate()).padStart(2, '0')
    return year + '-' + month + '-' + day
}
---

<a href={url} class="r-card" {...rest}>
    {image && <img class="r-cover" src={image} alt={title} />}
    <!-- 文章概要 -->
    <div class="r-item">
        <!-- 上半部分 标题&描述 -->
        <div class="r-summary">
            <!-- 标题 -->
            <div class="r-catalog">
                {title}<Icon name="mdi:navigate-next" width={36} height={36} class="r-icon" />
            </div>
            <!-- 描述 -->
            <div class="r-description">{description}</div>
        </div>

        <div class="r-grow"></div>

        <!-- 下半部分 文章信息 -->
        <div class="r-footer">
            <div class="r-info">
                <span>
                    <!-- 发布日期 -->
                    <Icon name="mdi:calendar-blank-outline" width={18} height={18} />
                    {formatDate(pubDate)}
                </span>
                <span>
                    <!-- 阅读时间 -->
                    <Icon name="mdi:clock-outline" />
                    {readingTime} 分钟
                </span>
                <span>
                    <!-- 字数统计 -->
                    <Icon name="mdi:pencil-outline" />
                    {readingChars} 字
                </span>
                <span class="r-not-mob">
                    <!-- 分类 PC -->
                    <Icon name="mdi:archive-outline" />
                    {category ? (
                        <span
                            class="r-category"
                            onclick={`event.preventDefault();event.stopPropagation();window.location.href='/posts${siteConfig.isWithExt ? '.html' : ''}?category=${encodeURIComponent(category)}'`}
                        >
                            {category}
                        </span>
                    ) : '未分类'}
                </span>
            </div>
            
            <div class="r-tag-wrapper">
                <!-- 分类 移动端 -->
                <span class="r-not-pc">
                    <Icon name="mdi:archive-outline" />
                    {category ? (
                        <span
                            class="r-category"
                            onclick={`event.preventDefault();event.stopPropagation();window.location.href='/posts${siteConfig.isWithExt ? '.html' : ''}?category=${encodeURIComponent(category)}'`}
                        >
                            {category}
                        </span>
                    ) : '未分类'}
                </span>
                <!-- 标签 -->
                <span class="r-tags">
                    { tags && tags.length > 0 && tags.map((i: string) => (
                        <span
                            class="r-tag"
                            onclick={`event.preventDefault();event.stopPropagation();window.location.href='/posts${siteConfig.isWithExt ? '.html' : ''}?tag=${encodeURIComponent(i)}'`}
                        >
                            #{i}
                        </span>
                    ))}
                </span>
            </div>
        </div>
    </div>
</a>

<style lang="less">
    @import url('@/styles/variableConst.less');
    .r-card {
        display: block;
        background-color: #fff;
        line-height: 1.5;
        padding: var(--index-card-padding);
        border-radius: @layout-content-border-radius;
        font-size: var(--index-card-font);
        min-height: @layout-index-card-min-height;
        position: relative;

        * {
            z-index: 1;
        }

        // 整个 .card 都被 hover 时都可以触发
        &:hover {
            background-color: @color-card-hover;
            .r-catalog {
                color: @color-theme;
            }
            .r-icon {
                opacity: 1;
                transform: translateX(4px);
            }
        }
        &:active {
            transform: scale(.995);
            transition: all @anim-duration ease;
            background-color: @color-card-active;
        }

        &:has(.r-cover) {
            .r-catalog {
                margin-top: var(--index-card-cover-catalog-space);
            }
        }
    }

    // 封面
    .r-cover {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        width: var(--index-card-cover-width);
        height: var(--index-card-cover-height);
        object-fit: cover;
        mask-image: linear-gradient(var(--index-card-cover-direction), #000, transparent);
        border-radius: @layout-content-border-radius;
    }

    .r-item {
        display: flex;
        flex-direction: column;
        min-height: (@layout-index-card-min-height - 16px * 2);
    }

    // 标题
    .r-catalog {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: var(--index-card-catalog-font);
        transition: all @anim-duration ease;

        .r-icon {
            opacity: 0;
            transform: translateX(-4px);
            transition: all @anim-duration ease;
        }
    }

    // 描述
    .r-description {
        margin: var(--index-card-description-margin);
    }

    .r-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--index-card-footer-spacing);
        font-size: calc(var(--index-card-font) - 0.5px);
        color: @color-secondary;
        // 文章信息
        .r-info {
            display: flex;
            flex-direction: row;
            gap: 1.5em;

            span {
                display: flex;
                align-items: center;
                gap: 4px;
            }
            svg {
                width: var(--index-card-icon-size);
                height: var(--index-card-icon-size);
            }
        }
        // 文章标签
        .r-tag-wrapper {
            display: flex;
            z-index: 1;
            justify-content: space-between;
            .r-tags {
                display: flex;
                gap: var(--index-card-tag-gap);
            }

            .r-tag {
                background-color: @color-theme-light;
                color: @color-theme-dark;
                padding: 3px 9px;
                border-radius: 4px;
                font-size: var(--content-tag-font);
            }
        }
    }

    // 适应移动端，将分类搬到标签处一起，开单独的一行
    @media screen and (max-width: @layout-mobile-breakpoint) {
        .r-footer {
            flex-direction: column;
            align-items: start;
            .r-tag-wrapper {
                width: 100%;
                align-items: center;
            }
        }
    }
</style>
