---
import { getCollection } from 'astro:content'

const articles = await getCollection('archives')
const articleTotal = articles.length
const tagTotal = new Set(articles.flatMap((item) => item.data.tags ?? [])).size
const categoryTotal = new Set(articles.map((item) => item.data.category).filter(Boolean)).size

import { profileConfig } from '@/config'
---

<div class="r-card">
    <img src={profileConfig.avatar} alt="博主头像" />
    <div class="r-title">{profileConfig.name}</div>
    <div class="r-description">{profileConfig.description}</div>
    <div class="r-stats">
        <a class="r-stat-item" href="/archives">
            <div class="r-stat-value">{articleTotal}</div>
            <div class="r-stat-label">文章</div>
        </a>
        <div class="r-stat-item">
            <div class="r-stat-value">{categoryTotal}</div>
            <div class="r-stat-label">分类</div>
        </div>
        <div class="r-stat-item">
            <div class="r-stat-value">{tagTotal}</div>
            <div class="r-stat-label">标签</div>
        </div>
    </div>
</div>

<style lang="less">
    @import url('@/styles/variableConst.less');
    .r-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        background-color: #fff;
        border-radius: @layout-content-border-radius;
        padding: (@layout-content-padding / 1.4);

        img {
            width: 96px;
            height: 96px;
            border-radius: 50%;
        }

        .r-title {
            margin: 12px 0;
            font-size: 20px;
            font-weight: 600;
        }

        .r-description {
            font-size: 15px;
            color: @color-secondary;
        }

        .r-stats {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 100%;
            font-size: 14px;
            margin-top: 14px;
        }

        .r-stat-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 60px;
            transition: all @anim-duration ease;
        }
        a.r-stat-item:hover {
            color: @color-theme;
        }

        .r-stat-value {
            font-size: 18px;
            font-weight: 600;
        }
    }
</style>