---
import friends from '@/content/friends.json'
---

<div class="r-grid">
    {friends.map((f) => (
        <a class="r-friend-card" href={f.link} target="_blank" rel="noreferrer">
            <img class="r-avatar" src={f.avatar} alt={f.name} loading="lazy" />
            <div class="r-meta">
                <div class="r-name">{f.name}</div>
                <div class="r-desc">{f.description}</div>
            </div>
        </a>
    ))}
</div>

<style lang="less">
    @import url('@/styles/variables.less');

    .r-info {
        margin-top: 6px;
        color: @color-secondary;
    }

    .r-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 8px;
    }

    .r-friend-card {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px 14px;
        border: 1px solid @color-border;
        border-radius: @layout-content-border-radius;
        text-decoration: none;
        color: inherit;
        transition: all .15s ease;

        .r-avatar {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            object-fit: cover;
        }

        .r-name {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 6px;
        }

        .r-desc {
            color: @color-secondary;
            font-size: 14px;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .r-friend-card:hover {
        background-color: @color-theme-light;
        transform: translateY(-1px);
        * {
            color: @color-theme-dark;
        }
    }

    @media (max-width: 640px) {
        .r-grid {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }
    }
</style>
